// TODO Variable list 

// ? Colors
$primary_color: #5ABAC6;
$home_button_color: #E331BF;
$footer_color: #272727;
$font_color_white: #FFF;
$font_color_black: #000;

// * Fonts
$font_roboto: 'Roboto', sans-serif;
$font_roboto_slab: 'Roboto Slab', serif;
$fonts_open_sans: 'Open Sans' sans-serif; 